@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom global styles */
:root {
  --btn-px: 1rem;
  --btn-text-color: #f8f0fb;
  --line-color: #302d37;
  --icon-color: #f8f0fb;
}

/* Additional global styles */
